.card-four
{
    display: flex;
    width: 260px;
    height: 290px;
    margin-top: 10px;   
    margin-right: 20px;
    margin-left: 10px;
    background-color: #efecec;
}
.card-full
{ 
    margin: 10px 0 10px 5px;
}

.card-top
{
    display: flex;
}
.cimg
{
    width: 110px;
    height: 100px;   
}
.card-bottom
{
    display: flex;
}
.card-data
{
    margin-left: 10px;
}
.card-name
{
    color: black;
    text-align: center;
}