.scroll-card-heading{
    margin-top: 10px;
}
.scroll-card-link{
display: flex;
overflow-x: auto;
}
.scroll-card-link::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
.scroll-card-print{
    background-color: #efecec;
    width: 100%;
    height: 250px;
    
}
.scroll-card-print img{
    margin-left: 20px;
    margin-top: 20px;
    height: 180px;
    width: 180px;
}

.scroll-card-data{
    background-color: rgb(249, 81, 81);
    color: white;
    font-size: 13px;
    width: fit-content;
    margin-left: 30px;
    margin-top: 10px;
}
