.single-card{
    width: 260px;
    height: 290px;
    margin-top: 10px;   
    margin-right: 20px;
    margin-left: 10px;
    background-color: #efecec;
}
.single-card h3{
    margin-left: 10px;
    margin-top: 10px;
}
.single-card-link img{
    margin: 0px 15px 5px 15px ;
    margin-top: 10px;
    width: 230px;
    height: 210px;   
}
.single-card-name{
    color: black;
    margin-left: 20px;
}