.home-front-img img
{
    width: 100%;
    height: 99vh;
    position: absolute;
    z-index: -1;
}
 .home-all-cards
{
    width: 100%;
    margin-left: 50px;
    height: 122vh;
    display: flex;
    flex-wrap: wrap;
    position: static;
}

@media screen and (max-width: 768px) 
{   
    
    .nav-searchbar{
        width: 200px;
        font-size: 13px;
    }
    .nav-search input{
       width: 150px;
       font-size: 13px;
    }
    .nav-divide-one{
        flex-wrap: wrap; 
        justify-content: space-around;
    }
    
    .nav-divide-two{
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-around;
    }
    
   .scroll-card
   {
    margin-top: 650px;
   }

}

@media screen and (max-width: 600px) {
    .NavBar {
        display: flex;
        flex-wrap: wrap;
        width: 600px;
        font-size: 13px;
    }
   
    .nav-searchbar{
        
        width: 200px;
        font-size: 13px;
    }
    .nav-search input{
       width: 150px;
       font-size: 13px;
    }
    .nav-arrow{
        margin-left: -1px;
    }

    .nav-divide-one{
        width: 100%;
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-around;
    }
    .nav-divide-two{
        width: 100%;
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-around;
    }
    .NavBanner
    {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .banner-data
    {   
        margin-top: 3px;
        padding: 5px;
        font-size: 14px;
    }
    .nav-returnname{
        display: flex;
    }
    .home-all-cards{
        margin-left: -20;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
    }
    .home-front-img img{
    width: 100%;
    height: 99vh;
    display: flex;
    flex-wrap: wrap;
    }
    .card-all{
        background-color: rebeccapurple;
        width: 200px;
        height: 200px;
        margin-right: -1;
    }
    .cimg{
        width: 70px;
        height: 50px;   
    }
    .heading{
        position: relative;
        margin-top: 650px;
    }
    .ScrollCard{
        margin-top: 650px;
    }
    .PC{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }



/* ========================================== */

.ProductCard{
    height: 300px;
    width: 280px;
}
.Product2{
    display: none;
}


}



