

.Cart{
    color: black;
}
.left-cart{
    width: 900px;
    height: 230px;
    margin-top: 30px;
    background-color: #efecec;
    display: flex;
    color: black;
}
.cart h3{
    color: black;
}
.img-cart{
    margin: 10px;
    height: 210px;
    width: 260px; 
}
.next-cart{
    margin:20px;
}
.detail-cart{
    color: black;
}
.rating-cart{
    margin-top: 15px;
    color: goldenrod;
}
.price-cart{
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}
.btn1-cart{
    margin-top: 10px;
    border: transparent;
    border-radius: 2px;
    background-color: goldenrod;
    padding: 5px;
}
.right-cart{
    margin-top: 68px;
    margin-right: 100px;
    float:right;
    color: black;
    background-color: #efecec;
    height: 100px;
    width: 200px;
    
}
.total-cart{
    margin-left: 50px;
    margin-top: 20px;
}

.btn2-cart{
    margin-left: 50px;
    margin-top: 50px;
    margin-top: 10px;
    border: transparent;
    border-radius: 20px;
    
    background-color: goldenrod;
    padding: 5px;
}
.name{
    color: black;
    text-decoration: none;
}